.nav-button {
  --space: 10px;

  align-items: center;
  background: none;
  color: #495166;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  margin: 5px 0;
  outline: none;
  padding: var(--space) calc(var(--space) * 2);
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
  z-index: 500;

  @media (min-width: 710px) {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    height: 34px;
    margin: 0;
    padding: 0 var(--space);
    width: auto;
  }

  @media (min-width: 1024px) {
    padding: 0 calc(var(--space) * 2);
  }
}

.nav-button__icon {
  transform: translateY(3px);

  @media (min-width: 710px) {
    display: none;
    transform: none;
  }
}

// Transition
.nav-button {
  // Transitioned properties
  opacity: 1;
  transition-duration: var(--transition-duration);

  // Transition settings
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}
body.is-dropdown-toggled .nav-button {
  // Transitioned properties
  opacity: 0;
  transition-timing-function: ease-in-out;
  
  @media (min-width: 710px) {
    opacity: 1;
  }
}

// Login link
.nav-button--login {
  align-items: center;
  margin-top: 45px;
  z-index: 500;

  img {
    display: inline-block;
    margin-left: 5px;
  }

  @media (min-width: 710px) {
    display: flex;
    margin-left: 25px;
    margin-top: 0;
  }
}
