.nav-back-button {
  background: #fff;
  display: none;
  font-weight: 600;
  height: 70px;
  left: 0;
  padding: 0 var(--container-space);
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  top: 0;
  width: 200px;
  z-index: 1000;
  
  @media (min-width: 710px) {
    display: none !important;
  }
}

body.is-dropdown-toggled .nav-back-button {
  display: block;
}