* {
  box-sizing: border-box;

  // Disable transitions if the user prefers it
  @media (prefers-reduced-motion: reduce) {
    transition: none !important;

    &::before,
    &::after {
      transition: none !important;
    }
  }
}

html,
body {
  height: 100%;
}

body {
  background-color: #f3efed;
  font-family: var(--fonts);
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}
body::after {
  --transition-duration: .4s;
  background-color: #000;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity var(--transition-duration) ease-in-out;
  z-index: 1000;
}

body.is-nav-toggled {
  overflow: hidden;
}

body.is-dropdown-toggled::after {
  opacity: 0.2;
  pointer-events: all;
  
  @media (min-width: 710px) {
    display: block;
  }
}

a {
  outline: none;
  position: relative;
  text-underline-offset: 2px;
}

button {
  border: none;
  font-family: var(--fonts);
  padding: 0; // Needed for firefox, because text is moving on :active otheriwse
  position: relative;
}

button:focus,
a:focus {
  &::after {
    border: 2px dotted var(--color-primary);
    bottom: var(--button-outline-offset);
    content: "";
    left: var(--button-outline-offset);
    position: absolute;
    right: var(--button-outline-offset);
    top: var(--button-outline-offset);
  }
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul, li {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: circle;
  margin-bottom: 10px;
}

code {
  background: #d7d9d7;
  border-radius: 2px;
  color: #000;
  display: inline-block;
  font-family: Consolas, monospace;
  padding: 0 5px;
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: .5em;
  margin-top: 0;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: .5em;
  margin-top: 2em;
  line-height: 1.4;
}
