:root {
  --button-height: 46px;
  --button-outline-offset: -8px;
  --button-outline-radius: 54px; // --button-height + --button-outline-offset
}

.button {
  background: #fff;
  border: 1px solid var(--color-primary);
  border-radius: var(--button-height);
  color: #000;
  display: inline-block;
  font-family: var(--fonts);
  font-size: 14px;
  height: var(--button-height);
  line-height: 42px;
  padding: 0 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color, border-color .3s ease-in;
}

.button--demo {
  background-color: var(--color-primary);
  border-radius: 0;
  color: #fff;
  font-size: 21px;
  height: 70px;
  line-height: 66px;
  text-align: center;
  text-transform: capitalize;

  @media (min-width: 710px) {
    background-color: transparent;
    border-radius: var(--button-height);
    color: var(--color-primary);
    font-size: 14px;
    height: var(--button-height);
    line-height: 42px;
    text-transform: uppercase;
  }
}

.button--skip {
  color: var(--color-primary);
}
.button--skip:focus {
  height: var(--button-height);
  left: 12px;
  padding: 0 30px;
  top: 12px;
  width: auto;
  z-index: 1000;
}


// Transition
.button--outlined {
  background-color: transparent;
  color: var(--color-primary);

  // Transition settings
  transition-duration: var(--transition-duration);
  transition-property: color, background-color;
  transition-timing-function: ease-in-out;
}
.button--outlined:hover {
  background-color: var(--color-primary);
  color: #fff;
}