.header {
  background-color: #fff;
  z-index: 2000;

  @media (min-width: 710px) {
    position: relative;
  }
}

.header__container {
  height: 70px;
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 var(--container-space);
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  justify-items: center;
  align-items: center;
}

.header__action-button {
  display: none;
  position: relative;
  z-index: 500;

  @media (min-width: 1024px) {
    display: block;
  }
}

.header__hamburger {
  justify-self: flex-end;
}
